openapi: 3.0.3
info:
  title: GeeLark API
  description: |
    GeeLark 提供云手机和浏览器自动化 API，用于社交媒体管理。

    ## API 概览
    - **云手机 API**: 控制云手机，管理代理、分组、标签、素材，以及自动化任务
    - **浏览器 API**: 管理具有指纹伪装功能的浏览器环境，用于网页自动化
    - **计费 API**: 管理订阅套餐和计费

    ## 认证方式
    - Token 认证: `Authorization: Bearer <token>`
    - Key 认证: `appId`, `traceId`, `ts`, `nonce`, `sign`

    ## 请求限流
    - 每分钟 200 次请求
    - 每小时 24,000 次请求

    ## 响应格式
    ```json
    {
      "traceId": "string",
      "code": 0,
      "msg": "success",
      "data": {}
    }
    ```
  version: "1.0"
  contact:
    name: GeeLark 支持
    url: https://www.geelark.com

servers:
  - url: https://openapi.geelark.cn/open/v1
    description: 云手机 API 服务器
  - url: http://localhost:40185/api/v1
    description: 浏览器 API（需要本地客户端）

tags:
  - name: 云手机管理
    description: 云手机生命周期管理（创建、启动、停止、删除、克隆）
  - name: 云手机设置
    description: 配置 GPS、网络、截图、ADB 等
  - name: 应用管理
    description: 安装、卸载、启动、停止应用
  - name: 文件管理
    description: 上传文件到云手机和 Keybox 管理
  - name: 素材中心
    description: 管理图片、视频和标签的素材库
  - name: 自动化任务
    description: 社交媒体自动化任务（TikTok、Facebook、Instagram 等）
  - name: 任务管理
    description: 查询、取消、重试自动化任务
  - name: 浏览器管理
    description: 具有指纹伪装的浏览器环境管理
  - name: 分组管理
    description: 将云手机和浏览器组织成分组
  - name: 标签管理
    description: 为云手机和浏览器添加标签进行分类
  - name: 代理管理
    description: 管理代理配置
  - name: 计费
    description: 订阅套餐和计费操作
  - name: Webhook
    description: 任务回调的 Webhook 配置
  - name: 数据分析
    description: 账号数据分析管理

paths:
  # ==================== 云手机管理 ====================
  /phone/list:
    post:
      tags: [云手机管理]
      summary: 获取所有云手机
      description: 获取云手机列表，支持筛选和分页
      operationId: getAllCloudPhones
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudPhoneListRequest'
            example:
              page: 1
              pageSize: 10
              openStatus: 1
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudPhoneListResponse'

  /phone/addNew:
    post:
      tags: [云手机管理]
      summary: 创建云手机
      description: |
        创建一台或多台云手机。
        - 基础套餐：每次支持创建 1 台云手机
        - 专业套餐：支持批量创建（最多 100 台）
      operationId: createCloudPhones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudPhoneRequest'
            example:
              mobileType: "Android 12"
              chargeMode: 0
              data:
                - profileName: "myPhone"
                  proxyInformation: "socks5://user:pass@100.200.200.100:30000"
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCloudPhoneResponse'

  /phone/start:
    post:
      tags: [云手机管理]
      summary: 启动云手机
      description: 批量启动云手机并返回远程访问链接
      operationId: startCloudPhones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCloudPhoneRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartCloudPhoneResponse'

  /phone/stop:
    post:
      tags: [云手机管理]
      summary: 停止云手机
      description: 批量停止运行中的云手机
      operationId: stopCloudPhones
      requestBody:
required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopCloudPhoneRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOperationResponse'

  /phone/delete:
    post:
      tags: [云手机管理]
      summary: 删除云手机
      description: 根据 ID 删除云手机
      operationId: deleteCloudPhones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCloudPhoneRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOperationResponse'

  /phone/clone:
    post:
      tags: [云手机管理]
      summary: 克隆云手机
      description: 克隆现有云手机配置
      operationId: cloneCloudPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneCloudPhoneRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneCloudPhoneResponse'

  /phone/status:
    post:
      tags: [云手机管理]
      summary: 查询云手机状态
      description: 获取云手机当前状态
      operationId: queryCloudPhoneStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: 云手机 ID 列表
                  maxItems: 200
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStatusResponse'

  /phone/screenshot:
    post:
      tags: [云手机设置]
      summary: 截图
      description: 截取云手机屏幕
      operationId: takeScreenshot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'

  /phone/screenshot/result:
    post:
      tags: [云手机设置]
      summary: 获取截图结果
      description: 截取完成后获取截图图片链接
      operationId: getScreenshotResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResultResponse'

  /phone/gps/set:
    post:
      tags: [云手机设置]
      summary: 设置 GPS 位置
      description: 修改云手机的 GPS 位置
      operationId: setGps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGpsRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/gps/get:
    post:
      tags: [云手机设置]
      summary: 获取 GPS 位置
      description: 获取云手机当前 GPS 位置
      operationId: getGps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGpsResponse'

  /phone/network:
    post:
      tags: [云手机设置]
      summary: 修改网络设置
      description: 配置代理和网络设置
      operationId: modifyNetworkSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyNetworkRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/network/get:
    post:
      tags: [云手机设置]
      summary: 获取网络设置
      description: 获取当前网络配置
      operationId: getNetworkSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkResponse'

  /phone/netType/set:
    post:
      tags: [云手机设置]
      summary: 设置网络类型
      description: 切换 Wi-Fi 和移动网络
      operationId: setNetType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNetTypeRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/root/set:
    post:
      tags: [云手机设置]
      summary: 设置 Root 状态
      description: 开启或关闭 Root 权限
      operationId: setRootStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRootStatusRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/accessibility/hide:
    post:
      tags: [云手机设置]
      summary: 隐藏无障碍
      description: 隐藏无障碍服务指示器
      operationId: hideAccessibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
                hide:
                  type: integer
                  enum: [0, 1]
                  description: 0=显示, 1=隐藏
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/deviceId/get:
    post:
      tags: [云手机设置]
      summary: 获取设备 ID
      description: 获取设备标识信息
      operationId: getDeviceId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIdResponse'

  /phone/brand/list:
    post:
      tags: [云手机管理]
      summary: 获取云手机品牌列表
      description: 获取可用的云手机品牌型号
      operationId: listCloudPhoneBrands
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                mobileType:
                  type: string
                  description: Android 版本筛选（如 "Android 12"）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandListResponse'

  /phone/group/move:
    post:
      tags: [云手机管理]
      summary: 移动云手机到分组
      description: 将云手机转移到其他分组
      operationId: moveCloudPhoneToGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveToGroupRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/transfer:
    post:
      tags: [云手机管理]
      summary: 转让云手机
      description: 将云手机所有权转让给其他用户
      operationId: transferCloudPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCloudPhoneRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== ADB ====================
  /phone/adb/status/set:
    post:
      tags: [云手机设置]
      summary: 设置 ADB 状态
      description: 开启或关闭 ADB 调试
      operationId: setAdbStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdbStatusRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/adb/info:
    post:
      tags: [云手机设置]
      summary: 获取 ADB 信息
      description: 获取 ADB 连接详情
      operationId: getAdbInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdbInfoResponse'

  /phone/shell/execute:
    post:
      tags: [云手机设置]
      summary: 执行 Shell 命令
      description: 在云手机上执行 Shell 命令
      operationId: executeShellCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteShellRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteShellResponse'

  # ==================== 应用管理 ====================
  /phone/app/list:
    post:
      tags: [应用管理]
      summary: 获取已安装应用
      description: 列出云手机上所有已安装的应用
      operationId: getInstalledApps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 云手机 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResponse'

  /phone/app/start:
    post:
      tags: [应用管理]
      summary: 启动应用
      description: 在云手机上启动应用
      operationId: startApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppOperationRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/app/stop:
    post:
      tags: [应用管理]
      summary: 停止应用
      description: 强制停止应用
      operationId: stopApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppOperationRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/app/install:
    post:
      tags: [应用管理]
      summary: 安装应用
      description: 从上传的 APK 或 Google Play 安装应用
      operationId: installApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallAppRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /phone/app/uninstall:
    post:
      tags: [应用管理]
      summary: 卸载应用
      description: 从云手机移除应用
      operationId: uninstallApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UninstallAppRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== 文件管理 ====================
  /phone/file/upload:
    post:
      tags: [文件管理]
      summary: 上传文件到云手机
      description: 上传文件（图片、视频、文档）到云手机
      operationId: uploadFilesToPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'

  /phone/file/uploadStatus:
    post:
      tags: [文件管理]
      summary: 查询上传状态
      description: 查看文件上传进度
      operationId: queryUploadStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - taskId
              properties:
                taskId:
                  type: string
                  description: 上传任务 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatusResponse'

  /phone/keybox/upload:
    post:
      tags: [文件管理]
      summary: 上传 Keybox 文件
      description: 上传 Keybox（账号）文件用于多账号管理
      operationId: uploadKeyboxFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadKeyboxRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /material/temp/upload:
    post:
      tags: [素材中心]
      summary: 上传临时文件
      description: 上传文件到 GeeLark 素材中心
      operationId: uploadTempFiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadMaterialRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadMaterialResponse'

  # ==================== 素材中心 ====================
  /material/search:
    post:
      tags: [素材中心]
      summary: 搜索素材
      description: 从素材中心搜索素材（图片、视频）
      operationId: searchMaterials
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchMaterialRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMaterialResponse'

  /material/create:
    post:
      tags: [素材中心]
      summary: 创建素材
      description: 添加素材到素材库
      operationId: createMaterial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaterialRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMaterialResponse'

  /material/delete:
    post:
      tags: [素材中心]
      summary: 删除素材
      description: 从素材库移除素材
      operationId: deleteMaterial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /material/tag/search:
    post:
      tags: [素材中心]
      summary: 搜索素材标签
      description: 搜索素材中心的标签
      operationId: searchMaterialTags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTagRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTagResponse'

  /material/tag/create:
    post:
      tags: [素材中心]
      summary: 创建素材标签
      description: 在素材中心创建新标签
      operationId: createMaterialTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTagResponse'

  /material/tag/delete:
    post:
      tags: [素材中心]
      summary: 删除素材标签
      description: 从素材中心删除标签
      operationId: deleteMaterialTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /material/tag/set:
    post:
      tags: [素材中心]
      summary: 设置素材标签
      description: 为素材分配标签
      operationId: setMaterialTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMaterialTagRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== 分组管理 ====================
  /group/list:
    post:
      tags: [分组管理]
      summary: 查询分组
      description: 获取所有分组
      operationId: queryGroups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  minimum: 1
                pageSize:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResponse'

  /group/add:
    post:
      tags: [分组管理]
      summary: 创建分组
      description: 创建一个或多个分组
      operationId: createGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'

  /group/update:
    post:
      tags: [分组管理]
      summary: 修改分组
      description: 更新分组名称或备注
      operationId: modifyGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /group/delete:
    post:
      tags: [分组管理]
      summary: 删除分组
      description: 根据 ID 删除分组
      operationId: deleteGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== 标签管理 ====================
  /tag/list:
    post:
      tags: [标签管理]
      summary: 查询标签
      description: 获取所有标签
      operationId: queryTags
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  minimum: 1
                pageSize:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'

  /tag/add:
    post:
      tags: [标签管理]
      summary: 创建标签
      description: 创建一个或多个标签
      operationId: createTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTagResponse'

  /tag/update:
    post:
      tags: [标签管理]
      summary: 修改标签
      description: 更新标签名称或颜色
      operationId: modifyTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyTagRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /tag/delete:
    post:
      tags: [标签管理]
      summary: 删除标签
      description: 根据 ID 删除标签
      operationId: deleteTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== 代理管理 ====================
  /proxy/list:
    post:
      tags: [代理管理]
      summary: 获取所有代理
      description: 列出所有代理配置
      operationId: getAllProxies
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyListRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyListResponse'

  /proxy/add:
    post:
      tags: [代理管理]
      summary: 添加代理
      description: 添加一个或多个代理配置
      operationId: addProxies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProxyRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchProxyResponse'

  /proxy/update:
    post:
      tags: [代理管理]
      summary: 更新代理
      description: 更新代理配置
      operationId: updateProxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProxyRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /proxy/delete:
    post:
      tags: [代理管理]
      summary: 删除代理
      description: 根据 ID 删除代理
      operationId: deleteProxies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /proxy/check:
    post:
      tags: [代理管理]
      summary: 代理检测
      description: 测试代理连通性和位置
      operationId: detectProxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 代理 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCheckResponse'

  # ==================== 任务管理 ====================
  /rpa/task/query:
    post:
      tags: [任务管理]
      summary: 查询任务
      description: 获取任务执行结果
      operationId: queryTasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTaskRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTaskResponse'

  /rpa/task/batchQuery:
    post:
      tags: [任务管理]
      summary: 批量查询任务
      description: 获取多个任务详情
      operationId: batchQueryTasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchQueryTaskResponse'

  /rpa/task/detail:
    post:
      tags: [任务管理]
      summary: 获取任务详情
      description: 获取详细任务信息
      operationId: getTaskDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 任务 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetailResponse'

  /rpa/task/cancel:
    post:
      tags: [任务管理]
      summary: 取消任务
      description: 取消待执行或运行中的任务
      operationId: cancelTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 任务 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /rpa/task/retry:
    post:
      tags: [任务管理]
      summary: 重试任务
      description: 重试失败的任务
      operationId: retryTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 任务 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryTaskResponse'

  # ==================== TikTok 自动化 ====================
  /rpa/task/tiktokLogin:
    post:
      tags: [自动化任务]
      summary: TikTok 登录
      description: 登录 TikTok 账号
      operationId: tiktokLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokLoginRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokPublish:
    post:
      tags: [自动化任务]
      summary: 发布 TikTok 视频
      description: 上传并发布视频到 TikTok
      operationId: tiktokPublish
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokPublishRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokRandomStar:
    post:
      tags: [自动化任务]
      summary: TikTok 随机点赞
      description: 随机自动点赞 TikTok 视频
      operationId: tiktokRandomStar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokRandomStarRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokFollow:
    post:
      tags: [自动化任务]
      summary: TikTok 关注
      description: 自动关注 TikTok 用户
      operationId: tiktokFollow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokFollowRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokAiComment:
    post:
      tags: [自动化任务]
      summary: TikTok AI 评论
      description: 自动生成并发布 AI 评论
      operationId: tiktokAiComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokAiCommentRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokPrivateMessage:
    post:
      tags: [自动化任务]
      summary: 发送 TikTok 私信
      description: 在 TikTok 发送私信
      operationId: sendTiktokPrivateMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokPrivateMessageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/tiktokProfileEdit:
    post:
      tags: [自动化任务]
      summary: 编辑 TikTok 资料
      description: 更新 TikTok 个人信息
      operationId: editTiktokProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokProfileEditRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  # ==================== Facebook 自动化 ====================
  /rpa/task/facebookLogin:
    post:
      tags: [自动化任务]
      summary: Facebook 登录
      description: 登录 Facebook 账号
      operationId: facebookLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookLoginRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/facebookPost:
    post:
      tags: [自动化任务]
      summary: Facebook 发帖
      description: 创建包含文字和媒体的 Facebook 帖子
      operationId: facebookPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPostRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/facebookReels:
    post:
      tags: [自动化任务]
      summary: Facebook Reels
      description: 上传视频作为 Facebook Reels
      operationId: facebookReels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookReelsRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/facebookPrivateMessage:
    post:
      tags: [自动化任务]
      summary: Facebook 私信
      description: 发送 Facebook Messenger 消息
      operationId: facebookPrivateMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPrivateMessageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  # ==================== Instagram 自动化 ====================
  /rpa/task/instagramLogin:
    post:
      tags: [自动化任务]
      summary: Instagram 登录
      description: 登录 Instagram 账号
      operationId: instagramLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramLoginRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/instagramReelsImage:
    post:
      tags: [自动化任务]
      summary: Instagram 发图
      description: 发布图片到 Instagram
      operationId: instagramPostImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramReelsImageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/instagramReelsVideo:
    post:
      tags: [自动化任务]
      summary: Instagram Reels 视频
      description: 上传视频到 Instagram Reels
      operationId: instagramReelsVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramReelsVideoRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/instagramPrivateMessage:
    post:
      tags: [自动化任务]
      summary: Instagram 私信
      description: 发送 Instagram 直达消息
      operationId: instagramPrivateMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramPrivateMessageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  /rpa/task/instagramProfileEdit:
    post:
      tags: [自动化任务]
      summary: 编辑 Instagram 资料
      description: 更新 Instagram 个人信息
      operationId: editInstagramProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramProfileEditRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'

  # ==================== 计费 ====================
  /pay/plan/list:
    post:
      tags: [计费]
      summary: 获取套餐列表
      description: 获取可用的订阅套餐
      operationId: getPlanList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanListResponse'

  /pay/plan/current:
    post:
      tags: [计费]
      summary: 获取当前订阅
      description: 获取当前订阅信息
      operationId: getCurrentPlan
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentPlanResponse'

  /pay/plan/upgrade:
    post:
      tags: [计费]
      summary: 更换/升级套餐
      description: 升级订阅套餐
      operationId: changePlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePlanRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /pay/renew:
    post:
      tags: [计费]
      summary: 续期套餐
      description: 续期订阅套餐
      operationId: renewPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewPlanRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /pay/balance:
    post:
      tags: [计费]
      summary: 余额查询
      description: 获取账户余额
      operationId: getBalance
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'

  /pay/time/addon:
    post:
      tags: [计费]
      summary: 购买时长插件
      description: 购买额外使用时长
      operationId: buyTimeAddon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyTimeAddonRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ==================== Webhook ====================
  /webhook/set:
    post:
      tags: [Webhook]
      summary: 设置 Webhook URL
      description: 配置 Webhook 回调 URL
      operationId: setWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
$ref: '#/components/schemas/ApiResponse'

  /webhook/get:
    post:
      tags: [Webhook]
      summary: 获取 Webhook URL
      description: 获取已配置的 Webhook URL
      operationId: getWebhook
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookResponse'

  # ==================== 浏览器 API ====================
  /browser/create:
    post:
      tags: [浏览器管理]
      summary: 创建浏览器
      description: 创建具有指纹设置的新浏览器环境
      operationId: createBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrowserRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBrowserResponse'

  /browser/list:
    post:
      tags: [浏览器管理]
      summary: 获取浏览器列表
      description: 列出所有浏览器环境
      operationId: getBrowserList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserListRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserListResponse'

  /browser/start:
    post:
      tags: [浏览器管理]
      summary: 启动浏览器
      description: 启动浏览器环境
      operationId: launchBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchBrowserRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchBrowserResponse'

  /browser/close:
    post:
      tags: [浏览器管理]
      summary: 关闭浏览器
      description: 关闭运行中的浏览器环境
      operationId: closeBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /browser/delete:
    post:
      tags: [浏览器管理]
      summary: 删除浏览器
      description: 删除浏览器环境
      operationId: deleteBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /browser/clone:
    post:
      tags: [浏览器管理]
      summary: 克隆浏览器
      description: 克隆现有浏览器环境
      operationId: cloneBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneBrowserRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneBrowserResponse'

  /browser/status:
    post:
      tags: [浏览器管理]
      summary: 检查浏览器状态
      description: 获取浏览器运行状态
      operationId: checkBrowserStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserStatusResponse'

  /browser/transfer:
    post:
      tags: [浏览器管理]
      summary: 转让浏览器
      description: 将浏览器转移到其他分组
      operationId: transferBrowsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBrowsersRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /browser/kernel/download:
    post:
      tags: [浏览器管理]
      summary: 下载并更新内核
      description: 下载或更新浏览器内核
      operationId: downloadKernel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: 内核版本（不指定则使用最新版本）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /browser/kernel/query:
    post:
      tags: [浏览器管理]
      summary: 查询内核
      description: 获取可用的浏览器内核版本
      operationId: queryKernel
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KernelQueryResponse'

# ==================== 组件 ====================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 从 GeeLark 客户端获取的 API Token
    ApiKeyAuth:
      type: apiKey
      in: header
      name: appId
      description: 团队 AppId 用于签名认证

  schemas:
    # ==================== 通用 ====================
    ApiResponse:
      type: object
      properties:
        traceId:
          type: string
          description: 请求追踪 ID
        code:
          type: integer
          description: 响应码（0=成功）
        msg:
          type: string
          description: 响应消息

    BatchOperationResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
              description: 总数
            successAmount:
              type: integer
              description: 成功数
            failAmount:
              type: integer
              description: 失败数
            successDetails:
              type: array
              items:
                type: object
            failDetails:
              type: array
              items:
                $ref: '#/components/schemas/FailDetail'

    FailDetail:
      type: object
      properties:
        code:
          type: integer
          description: 错误码
        id:
          type: string
          description: 资源 ID
        msg:
          type: string
          description: 错误消息

    TaskResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            taskId:
              type: string
              description: 任务 ID

    PaginationRequest:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
          description: 页码
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: 每页条数

    PaginationResponse:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
        list:
          type: array
          items:
            type: object

    # ==================== 云手机 ====================
    CloudPhoneListRequest:
      allOf:
        - $ref: '#/components/schemas/PaginationRequest'
        - type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: 按云手机 ID 筛选
            serialName:
              type: string
              description: 按名称筛选
            groupName:
              type: string
              description: 按分组名筛选
            tags:
              type: array
              items:
                type: string
              description: 按标签名筛选
            openStatus:
              type: integer
              enum: [0, 1]
              description: 0=关闭, 1=开启

    CloudPhoneListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/CloudPhone'

    CloudPhone:
      type: object
      properties:
        id:
          type: string
        serialName:
          type: string
        serialNo:
          type: string
        status:
          type: integer
          enum: [0, 1, 2]
          description: 0=已停止, 1=启动中, 2=运行中
        chargeMode:
          type: integer
          enum: [0, 1]
          description: 0=按分钟计费, 1=月租
        group:
          $ref: '#/components/schemas/Group'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        equipmentInfo:
          $ref: '#/components/schemas/EquipmentInfo'
        proxy:
          $ref: '#/components/schemas/Proxy'

    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        remark:
          type: string

    Tag:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: integer
          enum: [0, 1, 2, 3, 4, 5]
          description: 0=白, 1=红, 2=蓝, 3=绿, 4=黄, 5=紫

    EquipmentInfo:
      type: object
      properties:
        countryName:
          type: string
        phoneNumber:
          type: string
        enableSim:
          type: integer
          enum: [0, 1]
        imei:
          type: string
        osVersion:
          type: string
        wifiBssid:
          type: string
        mac:
          type: string
        bluetoothMac:
          type: string
        timeZone:
          type: string
        deviceBrand:
          type: string
        deviceModel:
          type: string
        netType:
          type: integer
          enum: [0, 1]
          description: 0=Wi-Fi, 1=移动网络

    Proxy:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [socks5, http, https]
        server:
          type: string
        port:
          type: integer
        username:
          type: string
        password:
          type: string

    CreateCloudPhoneRequest:
      type: object
      required:
        - mobileType
        - data
      properties:
        mobileType:
          type: string
          enum: [Android 9, Android 10, Android 11, Android 12, Android 13, Android 14, Android 15, Android 16]
        chargeMode:
          type: integer
          enum: [0, 1]
          default: 0
          description: 0=按分钟计费, 1=月租
        region:
          type: string
          enum: [cn, sgp, us]
          description: 数据中心位置
        data:
          type: array
          items:
            $ref: '#/components/schemas/EnvRowApi'
          maxItems: 100

    EnvRowApi:
      type: object
      required:
        - profileName
      properties:
        profileName:
          type: string
        proxyInformation:
          type: string
          description: 代理 URL（socks5://, http://, https://）
        proxyQueryChannel:
          type: integer
          enum: [1, 2]
          default: 2
        dynamicProxy:
          type: string
          description: 动态代理服务商名称
        dynamicProxyLocation:
          type: string
        mobileRegion:
          type: string
        mobileLanguage:
          type: string
        profileGroup:
          type: string
        profileTags:
          type: array
          items:
            type: string
        profileNote:
          type: string
        surfaceBrandName:
          type: string
        surfaceModelName:
          type: string
        netType:
          type: integer
          enum: [0, 1]

    CreateCloudPhoneResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            details:
              type: array
              items:
                $ref: '#/components/schemas/CreateResultDetail'

    CreateResultDetail:
      type: object
      properties:
        index:
          type: integer
        code:
          type: integer
        msg:
          type: string
        id:
          type: string
        profileName:
          type: string
        envSerialNo:
          type: string
        equipmentInfo:
          $ref: '#/components/schemas/EquipmentInfo'

    StartCloudPhoneRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
          maxItems: 200
        width:
          type: integer
          minimum: 200
          maximum: 600
          default: 336
        center:
          type: integer
          enum: [0, 1]
          default: 1
        energySavingMode:
          type: integer
          enum: [0, 1]
          default: 0
        materialTagIds:
          type: array
          items:
            type: string

    StartCloudPhoneResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            successDetails:
              type: array
              items:
                $ref: '#/components/schemas/StartSuccessDetail'
            failDetails:
              type: array
              items:
                $ref: '#/components/schemas/FailDetail'

    StartSuccessDetail:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          description: 远程访问链接
        chargingMethod:
          type: string

    StopCloudPhoneRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
          maxItems: 200

    DeleteCloudPhoneRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
          maxItems: 200

    CloneCloudPhoneRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: 源云手机 ID
        cloneCount:
          type: integer
          minimum: 1
          maximum: 100
          default: 1
        autoStart:
          type: integer
          enum: [0, 1]
          default: 0

    CloneCloudPhoneResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            details:
              type: array
              items:
                $ref: '#/components/schemas/CreateResultDetail'

    QueryStatusResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: integer
              url:
                type: string

    ScreenshotResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            taskId:
              type: string

    ScreenshotResultResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
            screenshotUrl:
              type: string

    SetGpsRequest:
      type: object
      required:
        - id
        - latitude
        - longitude
      properties:
        id:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        accuracy:
          type: number
          default: 10

    ModifyNetworkRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        proxyInformation:
          type: string
        proxyQueryChannel:
          type: integer

    GetNetworkResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            proxyType:
              type: string
            proxyServer:
              type: string
            proxyPort:
              type: integer

    SetNetTypeRequest:
      type: object
      required:
        - id
        - netType
      properties:
        id:
          type: string
        netType:
          type: integer
          enum: [0, 1]
          description: 0=Wi-Fi, 1=移动网络

    SetRootStatusRequest:
      type: object
      required:
        - id
        - rootStatus
      properties:
        id:
          type: string
        rootStatus:
          type: integer
          enum: [0, 1]

    DeviceIdResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            imei:
              type: string
            androidId:
              type: string
            mac:
              type: string

    BrandListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              brandName:
                type: string
              models:
                type: array
                items:
                  type: string

    MoveToGroupRequest:
      type: object
      required:
        - ids
        - groupId
      properties:
        ids:
          type: array
          items:
            type: string
        groupId:
          type: string

    TransferCloudPhoneRequest:
      type: object
      required:
        - id
        - userId
      properties:
        id:
          type: string
        userId:
          type: string
          description: 目标用户 ID

    # ==================== ADB ====================
    SetAdbStatusRequest:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
        status:
          type: integer
          enum: [0, 1]

    AdbInfoResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            adbStatus:
              type: integer
            adbAddress:
              type: string
            debugPort:
              type: integer

    ExecuteShellRequest:
      type: object
      required:
        - id
        - command
      properties:
        id:
          type: string
        command:
          type: string

    ExecuteShellResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            output:
              type: string

    # ==================== 应用 ====================
    AppOperationRequest:
      type: object
      required:
        - id
        - packageName
      properties:
        id:
          type: string
        packageName:
          type: string

    AppListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              packageName:
                type: string
              appName:
                type: string
              versionName:
                type: string
              versionCode:
                type: integer

    InstallAppRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        fileId:
          type: string
          description: 素材中心的文件 ID
        packageUrl:
          type: string
          description: Google Play URL 或 APK 下载链接

    UninstallAppRequest:
      type: object
      required:
        - id
        - packageName
      properties:
        id:
          type: string
        packageName:
          type: string

    # ==================== 文件 ====================
    UploadFileRequest:
      type: object
      required:
        - id
        - fileId
      properties:
        id:
          type: string
        fileId:
          type: string
        path:
          type: string
          default: /sdcard/Download

    UploadFileResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            taskId:
              type: string

    UploadStatusResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            status:
              type: string
              enum: [pending, uploading, success, failed]
            progress:
              type: integer
              description: 上传进度百分比

    UploadKeyboxRequest:
      type: object
      required:
        - id
        - keyboxId
      properties:
        id:
          type: string
        keyboxId:
          type: string

    UploadMaterialRequest:
      type: object
      required:
        - fileUrl
        - fileType
      properties:
        fileUrl:
          type: string
        fileType:
          type: integer
          enum: [1, 2]
          description: 1=图片, 2=视频
        fileName:
          type: string

    UploadMaterialResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            fileId:
              type: string

    # ==================== 素材中心 ====================
    SearchMaterialRequest:
      allOf:
        - $ref: '#/components/schemas/PaginationRequest'
        - type: object
          properties:
            fileName:
              type: string
            tagsId:
              type: array
              items:
                type: string
            source:
              type: integer
              enum: [0, 1, 2, 3, 4, 5]
            fileType:
              type: array
              items:
                type: integer
                enum: [1, 2]
            ids:
              type: array
              items:
                type: string

    SearchMaterialResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            list:
              type: array
              items:
                $ref: '#/components/schemas/MaterialData'

    MaterialData:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: integer
        fileName:
          type: string
        fileSize:
          type: integer
        fileUrl:
          type: string
        fileType:
          type: integer
          enum: [1, 2]
        width:
          type: integer
        height:
          type: integer
        source:
          type: integer
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        userName:
          type: string

    CreateMaterialRequest:
      type: object
      required:
        - fileId
        - fileName
      properties:
        fileId:
          type: string
        fileName:
          type: string
        tagsId:
          type: array
          items:
            type: string

    CreateMaterialResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            id:
              type: string

    SearchTagRequest:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        name:
          type: string

    SearchTagResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            list:
              type: array
              items:
                $ref: '#/components/schemas/MaterialTag'

    MaterialTag:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: integer
          enum: [0, 1, 2, 3, 4, 5]

    CreateTagRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 30
        color:
          type: integer
          enum: [0, 1, 2, 3, 4, 5]
          default: 0

    CreateTagResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            id:
              type: string

    SetMaterialTagRequest:
      type: object
      required:
        - materialIds
        - tagIds
      properties:
        materialIds:
          type: array
          items:
            type: string
        tagIds:
          type: array
          items:
            type: string

    # ==================== 分组管理 ====================
    GroupListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            list:
              type: array
              items:
                $ref: '#/components/schemas/GroupData'

    GroupData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        remark:
          type: string
        createTime:
          type: integer

    CreateGroupRequest:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          items:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                maxLength: 50
              remark:
                type: string
                maxLength: 500

    CreateGroupResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            successDetails:
              type: array
              items:
                $ref: '#/components/schemas/Group'
            failDetails:
              type: array
              items:
                $ref: '#/components/schemas/FailDetail'

    ModifyGroupRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        name:
          type: string
        remark:
          type: string

    # ==================== 标签管理 ====================
    TagListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            list:
              type: array
              items:
                $ref: '#/components/schemas/TagData'

    TagData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: integer
          enum: [0, 1, 2, 3, 4, 5]
        createTime:
          type: integer

    CreateTagRequest:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          items:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                maxLength: 30
              color:
                type: string
                enum: [white, red, blue, green, yellow, purple]

    CreateTagResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            successDetails:
              type: array
              items:
                $ref: '#/components/schemas/Tag'
            failDetails:
              type: array
              items:
                $ref: '#/components/schemas/FailDetail'

    ModifyTagRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
          enum: [white, red, blue, green, yellow, purple]

    # ==================== 代理管理 ====================
    ProxyListRequest:
      allOf:
        - $ref: '#/components/schemas/PaginationRequest'
        - type: object
          properties:
            ids:
              type: array
              items:
                type: string
            scheme:
              type: string
              enum: [socks5, http, https]

    ProxyListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            list:
              type: array
              items:
                $ref: '#/components/schemas/ProxyData'

    ProxyData:
      type: object
      properties:
        id:
          type: string
        scheme:
          type: string
        server:
          type: string
        port:
          type: integer
        username:
          type: string
        status:
          type: integer
          enum: [0, 1, 2]
          description: 0=不可用, 1=可用, 2=检测中
        createTime:
          type: integer

    AddProxyRequest:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/ProxyAddItem'
          maxItems: 100

    ProxyAddItem:
      type: object
      required:
        - scheme
        - server
        - port
      properties:
        scheme:
          type: string
          enum: [socks5, http, https]
        server:
          type: string
        port:
          type: integer
        username:
          type: string
        password:
          type: string
        proxyQueryChannel:
          type: integer
          enum: [1, 2]
          default: 2

    BatchProxyResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            totalAmount:
              type: integer
            successAmount:
              type: integer
            failAmount:
              type: integer
            successDetails:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  id:
                    type: string
            failDetails:
              type: array
              items:
                $ref: '#/components/schemas/FailDetail'

    UpdateProxyRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        scheme:
          type: string
        server:
          type: string
        port:
          type: integer
        username:
          type: string
        password:
          type: string
        proxyQueryChannel:
          type: integer

    ProxyCheckResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            country:
              type: string
            city:
              type: string
            ip:
              type: string

    # ==================== 任务管理 ====================
    QueryTaskRequest:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        envId:
          type: string
        status:
          type: integer
          enum: [1, 2, 3, 4, 7]
          description: 1=等待中, 2=执行中, 3=已完成, 4=失败, 7=已取消
        taskType:
          type: integer

    QueryTaskResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/TaskData'

    TaskData:
      type: object
      properties:
        id:
          type: string
        planName:
          type: string
        taskType:
          type: integer
        serialName:
          type: string
        envId:
          type: string
        scheduleAt:
          type: integer
        status:
          type: integer
        failCode:
          type: integer
        failDesc:
          type: string
        cost:
          type: integer
        shareLink:
          type: string

    BatchQueryTaskResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/TaskData'

    TaskDetailResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
            planName:
              type: string
            taskType:
              type: integer
            envId:
              type: string
            status:
              type: integer
            scheduleAt:
              type: integer
            startAt:
              type: integer
            endAt:
              type: integer
            cost:
              type: integer
            params:
              type: object
            result:
              type: object
            failCode:
              type: integer
            failDesc:
              type: string

    RetryTaskResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            taskId:
              type: string

    # ==================== TikTok 自动化 ====================
    TikTokLoginRequest:
      type: object
      required:
        - id
        - scheduleAt
        - account
        - password
      properties:
        name:
          type: string
          maxLength: 128
        remark:
          type: string
          maxLength: 200
        scheduleAt:
          type: integer
          description: 计划时间（时间戳）
        id:
          type: string
          description: 云手机 ID
        account:
          type: string
          maxLength: 64
        password:
          type: string
          maxLength: 64

    TikTokPublishRequest:
      type: object
      required:
        - id
        - scheduleAt
        - fileId
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        fileId:
          type: string
          description: 素材中心的视频文件 ID
        title:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        privacyLevel:
          type: integer
          enum: [0, 1, 2]
          description: 0=公开, 1=好友, 2=私密
        comment:
          type: integer
          enum: [0, 1]
          default: 1
        duet:
          type: integer
          enum: [0, 1]
          default: 0
        stitch:
          type: integer
          enum: [0, 1]
          default: 0

    TikTokRandomStarRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        likeProbability:
          type: integer
          minimum: 0
          maximum: 100
          default: 30

    TikTokFollowRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        keyword:
          type: string
        followCount:
          type: integer
          default: 10

    TikTokAiCommentRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        keyword:
          type: string
        commentCount:
          type: integer
          default: 10
        aiPrompt:
          type: string

    TikTokPrivateMessageRequest:
      type: object
      required:
        - id
        - scheduleAt
        - targetUsername
        - message
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        targetUsername:
          type: string
        message:
          type: string

    TikTokProfileEditRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        username:
          type: string
        bio:
          type: string
        avatarFileId:
          type: string

    # ==================== Facebook 自动化 ====================
    FacebookLoginRequest:
      type: object
      required:
        - id
        - scheduleAt
        - account
        - password
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        account:
          type: string
        password:
          type: string

    FacebookPostRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        content:
          type: string
        fileIds:
          type: array
          items:
            type: string

    FacebookReelsRequest:
      type: object
      required:
        - id
        - scheduleAt
        - fileId
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        fileId:
          type: string
        title:
          type: string
        description:
          type: string

    FacebookPrivateMessageRequest:
      type: object
      required:
        - id
        - scheduleAt
        - targetId
        - message
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        targetId:
          type: string
        message:
          type: string

    # ==================== Instagram 自动化 ====================
    InstagramLoginRequest:
      type: object
      required:
        - id
        - scheduleAt
        - account
        - password
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        account:
          type: string
        password:
          type: string

    InstagramReelsImageRequest:
      type: object
      required:
        - id
        - scheduleAt
        - fileId
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        fileId:
          type: string
        caption:
          type: string
        hashtags:
          type: array
          items:
            type: string

    InstagramReelsVideoRequest:
      type: object
      required:
        - id
        - scheduleAt
        - fileId
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        fileId:
          type: string
        caption:
          type: string
        hashtags:
          type: array
          items:
            type: string

    InstagramPrivateMessageRequest:
      type: object
      required:
        - id
        - scheduleAt
        - targetUsername
        - message
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        targetUsername:
          type: string
        message:
          type: string

    InstagramProfileEditRequest:
      type: object
      required:
        - id
        - scheduleAt
      properties:
        name:
          type: string
        remark:
          type: string
        scheduleAt:
          type: integer
        id:
          type: string
        username:
          type: string
        bio:
          type: string
        avatarFileId:
          type: string

    # ==================== 计费 ====================
    PlanListResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              planId:
                type: string
              planName:
                type: string
              price:
                type: number
              features:
                type: array
                items:
                  type: string

    CurrentPlanResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            planId:
              type: string
            planName:
              type: string
            expireTime:
              type: integer
            status:
              type: integer

    ChangePlanRequest:
      type: object
      required:
        - profilesId
        - parallelsNum
        - monthlyRentalNum
      properties:
        profilesId:
          type: string
        parallelsNum:
          type: integer
          minimum: 1
        monthlyRentalNum:
          type: integer
          minimum: 1
        days:
          type: integer
          enum: [30, 90, 180, 360]
        promoCode:
          type: string

    RenewPlanRequest:
      type: object
      required:
        - profilesId
        - days
      properties:
        profilesId:
          type: string
        days:
          type: integer
          enum: [30, 90, 180, 360]
        promoCode:
          type: string

    BalanceResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            balance:
              type: number

    BuyTimeAddonRequest:
      type: object
      required:
        - minutes
      properties:
        minutes:
          type: integer
          description: 购买的分钟数

    # ==================== Webhook ====================
    SetWebhookRequest:
      type: object
      required:
        - webhookUrl
      properties:
        webhookUrl:
          type: string
          format: uri

    GetWebhookResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            webhookUrl:
              type: string
            events:
              type: array
              items:
                type: string

    # ==================== 浏览器 ====================
    CreateBrowserRequest:
      type: object
      required:
        - serialName
        - browserOs
      properties:
        serialName:
          type: string
          maxLength: 100
        groupId:
          type: string
        tagIds:
          type: array
          items:
            type: string
        remark:
          type: string
          maxLength: 1500
        cookie:
          type: string
        accountPlatform:
          type: string
          enum: [https://www.tiktok.com/, https://www.facebook.com/]
        accountUsername:
          type: string
        accountPassword:
          type: string
        accountTOTPSecret:
          type: string
        openLastPage:
          type: integer
          enum: [1, 2]
          default: 2
        openSpecPage:
          type: integer
          enum: [1, 2]
          default: 2
        openTabs:
          type: string
        browserOs:
          type: integer
          enum: [1, 2]
          description: 1=Windows, 2=macOS
        browserUa:
          type: string
        simulateConfig:
          $ref: '#/components/schemas/SimulateConfig'
        proxyId:
          type: string
        proxyConfig:
          $ref: '#/components/schemas/BrowserProxyConfig'
        browserStartArg:
          type: string

    SimulateConfig:
      type: object
      required:
        - timeZone
        - language
        - resolution
        - webRtc
        - geoLocation
        - canvas
        - webglImage
        - hardware
        - audioContext
        - mediaDevice
        - clientRects
        - speechVoise
        - hardwareConcurrency
        - memoryDevice
        - doNotTrack
        - bluetooth
        - battery
        - portScanProtection
      properties:
        timeZone:
          $ref: '#/components/schemas/SwitchConfig'
        language:
          $ref: '#/components/schemas/SwitchConfig'
        resolution:
          $ref: '#/components/schemas/SwitchConfig'
        webRtc:
          $ref: '#/components/schemas/SwitchConfig'
        geoLocation:
          $ref: '#/components/schemas/GeoLocationConfig'
        canvas:
          $ref: '#/components/schemas/SwitchConfig'
        webglImage:
          $ref: '#/components/schemas/SwitchConfig'
        hardware:
          $ref: '#/components/schemas/SwitchConfig'
        audioContext:
          $ref: '#/components/schemas/SwitchConfig'
        mediaDevice:
          $ref: '#/components/schemas/SwitchConfig'
        clientRects:
          $ref: '#/components/schemas/SwitchConfig'
        speechVoise:
          $ref: '#/components/schemas/SwitchConfig'
        hardwareConcurrency:
          type: integer
        memoryDevice:
          type: integer
        doNotTrack:
          type: integer
          enum: [0, 1, 2]
        bluetooth:
          $ref: '#/components/schemas/SwitchConfig'
        battery:
          $ref: '#/components/schemas/SwitchConfig'
        portScanProtection:
          $ref: '#/components/schemas/PortScanConfig'

    SwitchConfig:
      type: object
      required:
        - switcher
      properties:
        switcher:
          type: integer
        value:
          type: string

    GeoLocationConfig:
      type: object
      required:
        - switcher
      properties:
        switcher:
          type: integer
        baseOnIp:
          type: boolean
        longitude:
          type: number
        latitude:
          type: number
        accuracy:
          type: number

    PortScanConfig:
      type: object
      required:
        - switcher
      properties:
        switcher:
          type: integer
        value:
          type: string

    BrowserProxyConfig:
      type: object
      properties:
        typeId:
          type: integer
          enum: [-1, 1, 2, 3, 20, 21, 22, 23]
          description: "-1=直连, 1=socks5, 2=http, 3=https, 20=IPIDEA, 21=IPHTML, 22=kookeey, 23=Lumatuo"
        server:
          type: string
        port:
          type: integer
        username:
          type: string
        password:
          type: string
        country:
          type: string
        region:
          type: string
        city:
          type: string
        useProxyCfg:
          type: boolean
        protocol:
          type: integer
          enum: [1, 2]
          description: 1=socks5, 2=http

    CreateBrowserResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            id:
              type: string

    BrowserListRequest:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        ids:
          type: array
[...]
